!! Color theme
!#include ".config/themes/solarized_light.th"
!#include ".config/themes/solarized_dark.th"
!#include ".config/themes/baskerville_count.th"
!#include ".config/themes/baskerville_eldorado.th"
!#include ".config/themes/baskerville_farside.th"
!#include ".config/themes/baskerville_woods.th"
!#include ".config/themes/cloud.th"
#include ".config/themes/codeschool_dark.th"
!#include ".config/themes/codeschool_light.th"
!#include ".config/themes/darkocean.th"
!#include ".config/themes/dawn.th"
!#include ".config/themes/matrix.th"
!#include ".config/themes/monotheme.th"
!#include ".config/themes/vacuous.th"
!#include ".config/themes/visibone.th"
!#include ".config/themes/trim-yer-beard.th"
!#include ".config/themes/erebus.th"
!#include ".config/themes/euphrasia.th"
!#include ".config/themes/dkeg_catch.th"
!#include ".config/themes/dkeg_citystreets.th"
!#include ".config/themes/dkeg_colorstar.th"
!#include ".config/themes/dkeg_panels.th"
!#include ".config/themes/dkeg_phoenix.th"
!#include ".config/themes/dkeg_teva.th"
!#include ".config/themes/dkeg_vwbug.th"

!! vim colorscheme default

!! URxvt font
!URxvt*font: xft:Ubuntu Mono:style=Regular:pixelsize=20
!URxvt*boldFont: xft:Ubuntu Mono:style=Regular:pixelsize=20
!URxvt*italicFont: xft:Ubuntu Mono:style=Italic:pixelsize=20
!URxvt*boldItalicFont: xft:Ubuntu Mono:style=Bold Italic:pixelsize=20
!URxvt.letterSpace: -1

*.font: xft:Fixedsys Excelsior:style=Regular:pixelsize=15:antialias=false
*.boldFont: xft:Fixedsys Excelsior:style=Regular:pixelsize=15:antialias=false
*.letterSpace: -1

rofi.font: hack 10

!! URxvt scrollbar
URxvt.scrollType:	rxvt
URxvt.scrollBar: 	false

!! URxvt cursor
URxvt.cursorBlink:	true
URxvt.cursorUnderline:	false

!! URxvt pointer
URxvt.pointerBlank:	true

!! URxvt transparency
!URxvt.transparent:	true
!URxvt.shading:		20
!URxvt.blurRadius:	10

!! URxvt padding
URxvt.internalBorder:	10
